.App {
  text-align: center;
  background-color:#E4DCCF
}


.App-header {
  background-color: #E4DCCF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.myheader{
  color:#e28e07;
  width: 100vw;
  text-align: center;
  
}

.my-search{
  margin-top: 65px;
}



